html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body, body * {
    box-sizing: border-box;
}

h1 {
    font-family: 'Megrim', cursive;
    text-align: center;
    margin-top: 20px;
}

.bookshelf {
    width: 500px;
    margin: auto;
    height: 400px;
    border: 1px solid #ccc;
}

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-lazy-preloader {
    background: url('./preloader.png');
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-size: inherit;
    opacitY: 0.25;
    animation: none;
    margin: 0;
}

.swiper-lazy-preloader::after {
    background: none;
    
}